.container {
  :global {
    .ant-layout-header {
      display: flex;
    }
  }
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .logo {
      margin: 16px 24px 16px 0;
    }
  }
}
